<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PROFILE_SETUP' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg-light">
  <div class="ion-padding">
    <ion-card class="modern-card">
      <ion-card-content>
        <form (ngSubmit)="saveProfile()">
          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'FIRST_NAME' | translate }}</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="profile.firstName" 
              name="firstName"
              required>
            </ion-input>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'LAST_NAME' | translate }}</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="profile.lastName" 
              name="lastName"
              required>
            </ion-input>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'GENDER' | translate }}</ion-label>
            <ion-select [(ngModel)]="profile.gender" name="gender" interface="popover">
              <ion-select-option *ngFor="let gender of genders" [value]="gender">
                {{ getGenderTranslationKey(gender) | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'AGE' | translate }}</ion-label>
            <ion-input 
              type="number" 
              [(ngModel)]="profile.age" 
              name="age"
              required>
            </ion-input>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'COUNTRY' | translate }}</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="profile.countryName" 
              name="countryName"
              required>
            </ion-input>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'BACK_PAIN_YEARS' | translate }}</ion-label>
            <ion-input 
              type="number" 
              [(ngModel)]="profile.backPainYears" 
              name="backPainYears"
              required>
            </ion-input>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'JOB_TYPE' | translate }}</ion-label>
            <ion-select [(ngModel)]="profile.jobType" name="jobType" interface="popover">
              <ion-select-option *ngFor="let jobType of jobTypes" [value]="jobType">
                {{ getJobTypeTranslationKey(jobType) | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="modern-input">
            <ion-label position="stacked">{{ 'ACTIVITY_LEVEL' | translate }}</ion-label>
            <ion-select [(ngModel)]="profile.weeklyActivityLevel" name="activityLevel" interface="popover">
              <ion-select-option *ngFor="let level of activityLevels" [value]="level">
                {{ getActivityLevelTranslationKey(level) | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button 
            expand="block" 
            type="submit"
            class="rounded-button rounded-button--primary"
            style="margin-top: 24px;">
            {{ 'CONTINUE' | translate }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

